<!DOCTYPE html>
<!-- below content is for template inheritance -->
{% extends "basic_app/base.html" %}
{% block body_block %}
<h1>Welcome to Other page</h1>
<h2>This is an Example of template Inheritance!!!</h2>
{% endblock %}

<!-- this is proper html content -->
<!-- <html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Other page!</h1>
    <h3>Finally cleared the error</h3>
     <a href="{% url 'admin:index' %}">link to admin</a>
</body>
</html> -->
